{include="header2"}

<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h4 class="modal-title">Tablas de subcuentas para la contabilidad de las amortizaciones en ESPAÑA</h4>
</div>

<div class="modal-body">
   
   <!-- Cabezeras de las pestañas -->
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#inmovilizaciones_intangibles" aria-controls="inmovilizaciones_intangibles" role="tab" data-toggle="tab">
            <span>Inmovilizaciones intangibles</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#inmovilizaciones_materiales" aria-controls="inmovilizaciones_materiales" role="tab" data-toggle="tab">
            <span>Inmovilizaciones materiales</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#inmovilizaciones_inmobiliarias" aria-controls="inmovilizaciones_inmobiliarias" role="tab" data-toggle="tab">
            <span>Inmovilizaciones inmobiliarias</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#inmovilizaciones_materiales_en_curso" aria-controls="inmovilizaciones_materiales_en_curso" role="tab" data-toggle="tab">
            <span>Inmovilizaciones materiales en curso</span>
         </a>
      </li>
   </ul>

   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="inmovilizaciones_intangibles">
         <br/>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th colspan="2" width="340">Subcuenta Cierre</th>
                        <th colspan="2" width="330">Subcuenta Debe</th>
                        <th colspan="2" width="430">Subcuenta Haber</th>
                        <th colspan="2" width="380">Subcuenta Perdidas</th>
                        <th colspan="2" width="390">Subcuenta Beneficios</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>
                           <div>200</div>
                        </td>
                        <td>
                           <div class="text-left">Investigación</div>
                        </td>
                        <td>
                           <div>680</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>280</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de investigación</div>
                        </td>
                        <td>
                           <div>670</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>770</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>201</div>
                        </td>
                        <td>
                           <div class="text-left">Desarrollo</div>
                        </td>
                        <td>
                           <div>680</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>2801</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de desarrollo</div>
                        </td>
                        <td>
                           <div>670</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>770</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>202</div>
                        </td>
                        <td>
                           <div class="text-left">Concesiones administrativas</div>
                        </td>
                        <td>
                           <div>680</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>2802</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de concesiones administrativas</div>
                        </td>
                        <td>
                           <div>670</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>770</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>203</div>
                        </td>
                        <td>
                           <div class="text-left">Propiedad industrial</div>
                        </td>
                        <td>
                           <div>680</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>2803</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de propiedad industrial</div>
                        </td>
                        <td>
                           <div>670</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>770</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>204</div>
                        </td>
                        <td>
                           <div class="text-left">Fondo de comercio</div>
                        </td>
                        <td>
                           <div>680</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>2804</div>
                        </td>
                        <td>
                           <div class="text-left"></div>
                        </td>
                        <td>
                           <div>670</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>770</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>205</div>
                        </td>
                        <td>
                           <div class="text-left">Derechos de traspaso</div>
                        </td>
                        <td>
                           <div>680</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>2805</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de derechos de traspaso</div>
                        </td>
                        <td>
                           <div>670</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>770</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>206</div>
                        </td>
                        <td>
                           <div class="text-left">Aplicaciones informáticas</div>
                        </td>
                        <td>
                           <div>680</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>2806</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de aplicaciones informáticas</div>
                        </td>
                        <td>
                           <div>670</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>770</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>209</div>
                        </td>
                        <td>
                           <div class="text-left">Anticipos para inmovilizaciones intangibles</div>
                        </td>
                        <td>
                           <div>680</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div></div>
                        </td>
                        <td>
                           <div class="text-left"></div>
                        </td>
                        <td>
                           <div>670</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                        </td>
                        <td>
                           <div>770</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
         </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="inmovilizaciones_materiales">
         <br/>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th colspan="2" width="320">Subcuenta Cierre</th>
                        <th colspan="2" width="330">Subcuenta Debe</th>
                        <th colspan="2" width="490">Subcuenta Haber</th>
                        <th colspan="2" width="380">Subcuenta Perdidas</th>
                        <th colspan="2" width="390">Subcuenta Beneficios</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>
                           <div>210</div>
                        </td>
                        <td>
                           <div class="text-left">Terrenos y bienes naturales</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>281</div>
                        </td>
                        <td>
                           <div class="text-left"></div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>211</div>
                        </td>
                        <td>
                           <div class="text-left">Construcciones</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2811</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de construcciones</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>212</div>
                        </td>
                        <td>
                           <div class="text-left">Instalaciones Técnicas</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2812</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de instalaciones Técnicas</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>213</div>
                        </td>
                        <td>
                           <div class="text-left">Maquinaria</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2813</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de maquinaria</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>214</div>
                        </td>
                        <td>
                           <div class="text-left">Utillaje</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2814</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de utillaje</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>215</div>
                        </td>
                        <td>
                           <div class="text-left">Otras instalaciones</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2815</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de otras instalaciones</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>216</div>
                        </td>
                        <td>
                           <div class="text-left">Mobiliario</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2816</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de mobiliario</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>217</div>
                        </td>
                        <td>
                           <div class="text-left">Equipos para procesos de información</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2817</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de equipos para procesos de información</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>218</div>
                        </td>
                        <td>
                           <div class="text-left">Elementos de transporte</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2818</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de equipos para elementos de transporte</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>219</div>
                        </td>
                        <td>
                           <div class="text-left">Otro inmovilizado material</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2819</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de otro inmovilizado material</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
         </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="inmovilizaciones_inmobiliarias">
         <br/>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th colspan="2" width="320">Subcuenta Cierre</th>
                        <th colspan="2" width="330">Subcuenta Debe</th>
                        <th colspan="2" width="490">Subcuenta Haber</th>
                        <th colspan="2" width="380">Subcuenta Perdidas</th>
                        <th colspan="2" width="390">Subcuenta Beneficios</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>
                           <div>220</div>
                        </td>
                        <td>
                           <div class="text-left">Inversiones en terrenos y bienes naturales</div>
                        </td>
                        <td>
                           <div>682</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>282</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>672</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>772</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes de las inversiones inmobiliarias</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>221</div>
                        </td>
                        <td>
                           <div class="text-left">Inversiones en construcciones</div>
                        </td>
                        <td>
                           <div>682</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>282</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>672</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>772</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes de las inversiones inmobiliarias</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
         </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="inmovilizaciones_materiales_en_curso">
         <br/>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th colspan="2" width="320">Subcuenta Cierre</th>
                        <th colspan="2" width="330">Subcuenta Debe</th>
                        <th colspan="2" width="490">Subcuenta Haber</th>
                        <th colspan="2" width="380">Subcuenta Perdidas</th>
                        <th colspan="2" width="390">Subcuenta Beneficios</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>
                           <div>230</div>
                        </td>
                        <td>
                           <div class="text-left">Adaptación de terrenos y bienes naturales</div>
                        </td>
                        <td>
                           <div>682</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>282</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>672</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>772</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes de las inversiones inmobiliarias</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>231</div>
                        </td>
                        <td>
                           <div class="text-left">Construcciones en curso</div>
                        </td>
                        <td>
                           <div>682</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>282</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>672</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes de las inversiones inmobiliarias</div>
                        </td>
                        <td>
                           <div>772</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes de las inversiones inmobiliarias</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>232</div>
                        </td>
                        <td>
                           <div class="text-left">Instalaciones técnicas en montaje</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2812</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de instalaciones Técnicas</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>233</div>
                        </td>
                        <td>
                           <div class="text-left">Maquinaria en montaje</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2813</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de maquinaria</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>237</div>
                        </td>
                        <td>
                           <div class="text-left">Equipos para procesos de información en montaje</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>2817</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de equipos para procesos de información</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>

                     <tr>
                        <td>
                           <div>239</div>
                        </td>
                        <td>
                           <div class="text-left">Anticipos para inmovilizaciones materiales</div>
                        </td>
                        <td>
                           <div>681</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización del inmovilizado material</div>
                        </td>
                        <td>
                           <div>*2819</div>
                        </td>
                        <td>
                           <div class="text-left">Amortización acumulada de otro inmovilizado material</div>
                        </td>
                        <td>
                           <div>671</div>
                        </td>
                        <td>
                           <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                        </td>
                        <td>
                           <div>771</div>
                        </td>
                        <td>
                           <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
   </div>
</div>

{include="footer2"}