{include="header2"}

<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h4 class="modal-title">Tabla de amortizaciones para ESPAÑA</h4>
</div>

<div class="modal-body">
   
   <!-- Cabezeras de las pestañas -->
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#estimación_directa_simplificada" aria-controls="estimación_directa_simplificada" role="tab" data-toggle="tab">
            <span>Estimación Directa Simplificada</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#estimación_directa_normal" aria-controls="estimación_directa_normal" role="tab" data-toggle="tab">
            <span>Estimación Directa Normal</span>
         </a>
   </ul>

   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="estimación_directa_simplificada">
         <br/>
         <div class="table-responsive">
            <table class="table table-hover">

               <thead>
                  <tr>
                     <th>Tipo de inversiones o elementos patrimoniales</th>
                     <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
                     <th width="200" class="text-right">Período máximo (años)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <div>Edificios y otras construcciones</div>
                     </td>
                     <td>
                        <div class="text-right">3%</div>
                     </td>
                     <td>
                        <div class="text-right">68</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Instalaciones, mobiliario, enseres y resto del inmovilizado material</div>
                     </td>
                     <td>
                        <div class="text-right">10%</div>
                     </td>
                     <td>
                        <div class="text-right">20</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Maquinaria</div>
                     </td>
                     <td>
                        <div class="text-right">12%</div>
                     </td>
                     <td>
                        <div class="text-right">18</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Elementos de Transporte</div>
                     </td>
                     <td>
                        <div class="text-right">16%</div>
                     </td>
                     <td>
                        <div class="text-right">14</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Equipos para tratamiento de la información y sistemas y programas informáticos</div>
                     </td>
                     <td>
                        <div class="text-right">26%</div>
                     </td>
                     <td>
                        <div class="text-right">10</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Útiles y herramientas</div>
                     </td>
                     <td>
                        <div class="text-right">30%</div>
                     </td>
                     <td>
                        <div class="text-right">8</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Ganado vacuno, porcino, ovino y caprino</div>
                     </td>
                     <td>
                        <div class="text-right">16%</div>
                     </td>
                     <td>
                        <div class="text-right">14</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Ganado equino y frutales no cítricos</div>
                     </td>
                     <td>
                        <div class="text-right">8%</div>
                     </td>
                     <td>
                        <div class="text-right">25</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Frutales cítricos y viñedos</div>
                     </td>
                     <td>
                        <div class="text-right">4%</div>
                     </td>
                     <td>
                        <div class="text-right">50</div>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <div>Olivar</div>
                     </td>
                     <td>
                        <div class="text-right">2%</div>
                     </td>
                     <td>
                        <div class="text-right">100</div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="estimación_directa_normal">
         <br/>
         <div class="table-responsive">
            <table class="table table-hover">

               <thead>
                  <tr>
                     <th>Obra Civil</th>
                     <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
                     <th width="200" class="text-right">Período máximo (años)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <div>Obra civil general</div>
                     </td>
                     <td>
                        <div class="text-right">2%</div>
                     </td>
                     <td>
                        <div class="text-right">100</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Pavimentos</div>
                     </td>
                     <td>
                        <div class="text-right">6%</div>
                     </td>
                     <td>
                        <div class="text-right">34</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Infraestructuras y obras mineras</div>
                     </td>
                     <td>
                        <div class="text-right">7%</div>
                     </td>
                     <td>
                        <div class="text-right">30</div>
                     </td>
                  </tr>
               </tbody>
               
               <thead>
                  <tr>
                     <th>Centrales</th>
                     <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
                     <th width="200" class="text-right">Período máximo (años)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <div>Centrales hidraúlicas</div>
                     </td>
                     <td>
                        <div class="text-right">2%</div>
                     </td>
                     <td>
                        <div class="text-right">100</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Centrales nucleares</div>
                     </td>
                     <td>
                        <div class="text-right">3%</div>
                     </td>
                     <td>
                        <div class="text-right">60</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Centrales carbón</div>
                     </td>
                     <td>
                        <div class="text-right">4%</div>
                     </td>
                     <td>
                        <div class="text-right">50</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Centrales renovables</div>
                     </td>
                     <td>
                        <div class="text-right">7%</div>
                     </td>
                     <td>
                        <div class="text-right">30</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Otras centrales</div>
                     </td>
                     <td>
                        <div class="text-right">5%</div>
                     </td>
                     <td>
                        <div class="text-right">40</div>
                     </td>
                  </tr>
               </tbody>
                  
               <thead>
                  <tr>
                     <th>Edificios</th>
                     <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
                     <th width="200" class="text-right">Período máximo (años)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <div>Edificios industriales</div>
                     </td>
                     <td>
                        <div class="text-right">3%</div>
                     </td>
                     <td>
                        <div class="text-right">68</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Terrenos dedicados exclusivamente a escombreras</div>
                     </td>
                     <td>
                        <div class="text-right">4%</div>
                     </td>
                     <td>
                        <div class="text-right">50</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Almacenes y depósitos (gaseosos, líquidos y sólidos)</div>
                     </td>
                     <td>
                        <div class="text-right">7%</div>
                     </td>
                     <td>
                        <div class="text-right">30</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Edificios comerciales, administrativos, de servicios y viviendas</div>
                     </td>
                     <td>
                        <div class="text-right">2%</div>
                     </td>
                     <td>
                        <div class="text-right">100</div>
                     </td>
                  </tr>
               </tbody>
               
               <thead>
                  <tr>
                     <th>Instalaciones</th>
                     <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
                     <th width="200" class="text-right">Período máximo (años)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <div>Subestaciones. Redes de transporte y distribución de energía</div>
                     </td>
                     <td>
                        <div class="text-right">5%</div>
                     </td>
                     <td>
                        <div class="text-right">40</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Cables</div>
                     </td>
                     <td>
                        <div class="text-right">7%</div>
                     </td>
                     <td>
                        <div class="text-right">30</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Resto instalaciones</div>
                     </td>
                     <td>
                        <div class="text-right">10%</div>
                     </td>
                     <td>
                        <div class="text-right">20</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Maquinaria</div>
                     </td>
                     <td>
                        <div class="text-right">12%</div>
                     </td>
                     <td>
                        <div class="text-right">18</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Equipos médicos y asimilados</div>
                     </td>
                     <td>
                        <div class="text-right">15%</div>
                     </td>
                     <td>
                        <div class="text-right">14</div>
                     </td>
                  </tr>
               </tbody>
               
               <thead>
                  <tr>
                     <th>Elementos de transporte</th>
                     <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
                     <th width="200" class="text-right">Período máximo (años)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <div>Locomotoras, vagones y equipos de tracción</div>
                     </td>
                     <td>
                        <div class="text-right">8%</div>
                     </td>
                     <td>
                        <div class="text-right">25</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Buques, aeronaves</div>
                     </td>
                     <td>
                        <div class="text-right">10%</div>
                     </td>
                     <td>
                        <div class="text-right">20</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Elementos de transporte interno</div>
                     </td>
                     <td>
                        <div class="text-right">10%</div>
                     </td>
                     <td>
                        <div class="text-right">20</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Elementos de transporte externo</div>
                     </td>
                     <td>
                        <div class="text-right">16%</div>
                     </td>
                     <td>
                        <div class="text-right">14</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Autocamiones</div>
                     </td>
                     <td>
                        <div class="text-right">20%</div>
                     </td>
                     <td>
                        <div class="text-right">10</div>
                     </td>
                  </tr>
               </tbody>
               
               <thead>
                  <tr>
                     <th>Mobiliario y enseres</th>
                     <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
                     <th width="200" class="text-right">Período máximo (años)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <div>Mobiliario</div>
                     </td>
                     <td>
                        <div class="text-right">10%</div>
                     </td>
                     <td>
                        <div class="text-right">20</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Lencería</div>
                     </td>
                     <td>
                        <div class="text-right">25%</div>
                     </td>
                     <td>
                        <div class="text-right">8</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Cristalería</div>
                     </td>
                     <td>
                        <div class="text-right">50%</div>
                     </td>
                     <td>
                        <div class="text-right">4</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Útiles y herramientas</div>
                     </td>
                     <td>
                        <div class="text-right">25%</div>
                     </td>
                     <td>
                        <div class="text-right">8</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Moldes, matrices y modelos</div>
                     </td>
                     <td>
                        <div class="text-right">33%</div>
                     </td>
                     <td>
                        <div class="text-right">6</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Otros enseres</div>
                     </td>
                     <td>
                        <div class="text-right">15%</div>
                     </td>
                     <td>
                        <div class="text-right">14</div>
                     </td>
                  </tr>
               </tbody>
               
               <thead>
                  <tr>
                     <th>Equipos electrónicos e informáticos. Sistemas y programas</th>
                     <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
                     <th width="200" class="text-right">Período máximo (años)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <div>Equipos electrónicos</div>
                     </td>
                     <td>
                        <div class="text-right">20%</div>
                     </td>
                     <td>
                        <div class="text-right">10</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Equipos para procesos de información</div>
                     </td>
                     <td>
                        <div class="text-right">25%</div>
                     </td>
                     <td>
                        <div class="text-right">8</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Sistemas y programas informáticos</div>
                     </td>
                     <td>
                        <div class="text-right">33%</div>
                     </td>
                     <td>
                        <div class="text-right">6</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Producciones cinematográficas, fonográficas, videos y series audiovisuales</div>
                     </td>
                     <td>
                        <div class="text-right">33%</div>
                     </td>
                     <td>
                        <div class="text-right">6</div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <div>Otros elementos</div>
                     </td>
                     <td>
                        <div class="text-right">10%</div>
                     </td>
                     <td>
                        <div class="text-right">20</div>
                     </td>
                  </tr>
               </tbody>
               
            </table>
         </div>
      </div>
   </div>
</div>

{include="footer2"}